*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


header{
  background-color: rgba(250, 178, 178, 0.911);
  height: 50px;
  
}

.iconMenu{
  margin-left: 20px;
  cursor: pointer;
}

.nav-menu{
  background-color: rgba(23, 1, 44, 0.849);
  width: 100%;
  position: fixed;
  height: 100%;
  top: 0;


  opacity: 0;
  visibility: hidden;
  
}

.closeMenu i{
  background-color: chartreuse;
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}

img{
 
  margin: 10px 0 0px;
}



.nav-menu ul{
  margin-top: 58px;
  list-style: none;
  color: white;
  border: 2px solid blue;
  width: 100%;   

 
}





.nav-menu ul li{
  
  width: 100%;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  
  border: 1px solid rgb(105, 4, 100);

  text-align: center;
  
}

.nav-menu ul li:hover{
  border: 5px solid white;
}

.nav-menu ul li a{
 
  
  border: 1px solid yellow;
  position: relative;
  top: 10px;
  
}

.nav-menu  li a:hover{
  color: blueviolet;
}

.nav-menu.active{
  opacity: 1;
  visibility: visible;
  
}

@keyframes example {
  from{top: -10px;}
  to{top:0px;}
}

.nav-menu.active ul{
  position: relative;
  animation-name: example;
  animation-duration: 1s;
  animation-direction: unset;
}
