*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

header{
  background-color:#0c907d;
  height: 50px;
  
}

.iconMenu{
  margin-left: 20px;
  cursor: pointer;
}

.nav-menu{
  background-color: rgba(0, 0, 0, 0.849);
  width: 100%;
  position: fixed;
  height: 100%;
  top: 0;


  opacity: 0;
  visibility: hidden;
  
}

.closeMenu i{
  background-color: #0c907d;
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}

.closeMenu i:hover{
  background-color: #2cb4a0fb;
}


img{
 
  margin: 10px 0 0px;
}



.nav-menu ul{
  margin-top: 58px;
  list-style: none;
  color: white;

  width: 100%;   

 
}





.nav-menu ul li{
  
  width: 100%;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  
  border-bottom: 1px solid #0d627a;

  text-align: center;
  
}

.nav-menu ul li:hover{
  border: 5px solid #27dabf;

}

.nav-menu ul li a{
 color: white;
 display: block;
  padding: 6px 0 10px 0;

  position: relative;
  top: 0px;
  
}

.nav-menu  li a:hover{
  color: #14b9a3;
}

.nav-menu.active{
  opacity: 1;
  visibility: visible;
  
}

@keyframes example {
  from{top: -10px;}
  to{top:0px;}
}

.nav-menu.active ul{
  position: relative;
  animation-name: example;
  animation-duration: 1s;
  animation-direction: unset;
}
