*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: row;
     width: 100%;
     padding: 3% 4%;
     border: 1px solid red;
     justify-content: space-between;
  }


.logo{
  background: url(../img/logo-mobi.svg) center center/56px no-repeat;
  width: 56px;
  height: 56px;
}

.btn-menu{
  width: 56px;
  height: 56px;
 
  
}





  